<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%- include("js") -%>
        <script defer src="https://unpkg.com/vue@3"></script>
        <script defer src="../js/homeVue.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include("css") -%>
            <title>Document</title>
</head>

<body id="app">


    <nav class="navbar  border border-2 rounded  bg-info my-0 mt-1 mb-3 py-1 pr-0 flex-fill">
        <div class="navbar-brand  p-0 px-1" id="nav-username" href="/">
            lyst
        </div>

        <form class="form-check-inline form-check align-middle mr-2">
            <div class="form-check form-switch">
                <!-- <input class="form-check-input" type="checkbox" id="editSwitch" onchange="editFunc(this)">
                <label class="form-check-label text-white" for="flexSwitchCheckDefault">Edit</label> -->


                <button class="btn btn-outline-success border-primary fw-bold mx-3 shadow-none" @click="sortItems"
                    type="submit" style="transition: none;">Sort</button>
                <button class="btn btn-outline-success border-primary fw-bold mr-1" @click="login"
                    type="submit">login</button>
            </div>
        </form>

    </nav>
    <div class="row row-cols-1 px-3 row-cols-md-3 g-3">

        <div class="col" v-for="list in lists">
            <div class="card  border-success mb-3  ">

                <span
                    class="position-absolute top-0 start-100 translate-middle p-1 bg-info border border-light rounded-circle">
                    <i class="bi" :class="{ 'bi-star-fill': list.isMarked ,'bi-star':!list.isMarked  }"></i>
                    <span class="visually-hidden">marked</span>
                </span>
                <span
                    class="position-absolute  top-0 start-50 text-center fw-light text-muted translate-middle badge border border-info rounded-pill text-dark bg-light">
                    {{formatDate(list.updatedAt)}}
                    <span class="visually-hidden">last edited</span>
                </span>
                <div class="card-header bg-transparent text-center  border-success ">
                    {{list.title}}
                </div>
                <div class="card-body text-success p-1">
                    <p class="form-control card-text" id="new-text-area" placeholder="description">
                        {{list.description}}
                    </p>

                </div>
                <div class="card-footer bg-transparent border-success  d-flex justify-content-between">
                    <button type="button" class="btn btn-primary  " @click="gotToList(list)"><i
                            class="bi bi-pencil-fill"></i>view</button>
                </div>

            </div>
        </div>
    </div>


</body>

</html>